body{
    background-color: aqua;
    
    justify-content: center;
    align-items: center;
}
span{
    display: flex;
    flex-direction: column;
    width: 10%;
    padding: 30px;
    background-color: azure;
    border-radius: 5px;
}